<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
      <h2>Student Profiles</h2>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Mentor</th>
          </tr>
        </thead>
        <tbody>
          <tbody>
            <% data.map(student => {%>
            <tr>
              <td><%=student.name%></td>
              <td><%=student.email%></td>
              <td><%=student.age%></td>
              <td><%=student.mentor%></td>
            </tr>
            <% }); %>
          </tbody>
        </tbody>
      </table>
    </div>
  </body>
</html>
